[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
ipython = "*"
pylint = "*"
pylint-flask = "*"
pylint-sqlalchemy = "*"
pylint-requests = "*"
pylint-flask-sqlalchemy = "*"

[packages]
alembic = "*"
appnope = "*"
arrow = "*"
click = "*"
decorator = "*"
fitparse = "*"
itsdangerous = "*"
numpy = "*"
pendulum = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
python-dateutil = "*"
python-editor = "*"
pytz = "*"
requests = "*"
simplegeneric = "*"
six = "*"
tablib = "*"
timezonefinder = "*"
traitlets = "*"
tzlocal = "*"
wcwidth = "*"
Flask = "*"
Flask-Script = "*"
Flask-SQLAlchemy = "*"
ipython_genutils = "*"
Jinja2 = "*"
Mako = "*"
MarkupSafe = "*"
"path.py" = "*"
Pygments = "*"
SQLAlchemy = "*"
Werkzeug = "*"
tzwhere = "*"
geopy = "*"
pint = "*"
pyowm = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
