{% extends "base.html.j2" %}
{% block content %}
    <h1>Legs</h1>
    <table class='table'>
        <thead>
            <tr>
                <th>id</th>
                <th>date</th>
                <th>time</th>
                <th>distance (m)</th>
                <th>avg speed (mph)</th>
                <th>max speed (mph)</th>
                <th>avg pace (min / mile)</th>
                <th>max pace (min / mile)</th>
            </tr>
        </thead>
        <tbody>
            {% for leg in legs %}
            <tr>
                <td><a href="{{ url_for('detail_leg', leg_id=leg.id) }}">{{ leg.id }}</a></td>
                <td>{{ leg.start_datetime.strftime('%Y-%m-%d') }}</td>
                <td>{{ leg.start_datetime.strftime('%H:%M')}}</td>
                <td>{{ leg.distance | round(2) }}</td>
                <td>{{ leg.avg_speed | round(2) }}</td>
                <td>{{ leg.max_speed | round(2) }}</td>
                <td>{{ leg.avg_pace }}</td>
                <td>{{ leg.max_pace }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
